@model IEnumerable<AdopcionWeb.Models.Persona>

@{
    ViewData["Title"] = "Registro";
}

<h1>Registro</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Ingresa tus datos</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMascotaAdoptada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMascotaAdoptada.IdMascota)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPersona" class="btn btn-secondary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdPersona" class="btn btn-success">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.IdPersona" class="btn btn-danger">Eliminar</a>
                </td>

            
        </tr>
}
    </tbody>
</table>
