@model AdopcionWeb.Models.Mascotum

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar mascota</h1>

<h3>Esta seguro que desea borrar a esta mascota?</h3>
<div>
    <h4>Mascotum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoRescatada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoRescatada)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <a asp-action="Index" class="btn btn-secondary"> Regresar</a>
    </form>
</div>
